<% title 'Преподаватель ' + @teacher.full_name %>

<div class="page-header">
  <h3>DB Debbuger for <%= @teacher.lastname %> <%= @teacher.firstname %> <%= @teacher.middlename %></h3>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Информация БД</div>
  <div class="panel-body">
    <p>ID: <%= @teacher.id %></p>
    <p>belong to university: <%= @teacher.university_id %> (<%= @teacher.university.name %>)</p>
    <p>created_at: <%= @teacher.created_at %></p>
    <p>updated_at: <%= @teacher.updated_at %></p>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Склонение</div>
  <div class="panel-body">
    <p>Default: <%= @teacher.lastname %> <%= @teacher.firstname %> <%= @teacher.middlename %></p>
    <p>Genitive: <%= @teacher.lastname_genitive %> <%= @teacher.firstname_genitive %> <%= @teacher.middlename_genitive %></p>
    <p>Dative: <%= @teacher.lastname_dative %> <%= @teacher.firstname_dative %> <%= @teacher.middlename_dative %></p>
    <p>Accusative: <%= @teacher.lastname_accusative %> <%= @teacher.firstname_accusative %> <%= @teacher.middlename_accusative %></p>
    <p>Instrumental: <%= @teacher.lastname_instrumental %> <%= @teacher.firstname_instrumental %> <%= @teacher.middlename_instrumental %></p>
    <p>Prepositional: <%= @teacher.lastname_prepositional %> <%= @teacher.firstname_prepositional %> <%= @teacher.middlename_prepositional %></p>
  </div>
</div>