<% title 'Преподаватель ' + @teacher.full_name %>

<div class="page-header">
  <h3>Расписание <%= @teacher.lastname_genitive %> <%= @teacher.firstname_genitive %> <%= @teacher.middlename_genitive %>
    <small>с <%= l(@from, :format => '%e %b') %> по <%= l(@to, :format => '%e %b') %></small>
  </h3>
</div>

<% cache [@teacher, @from, @to] do %>
  <% @rasp.each do |key, value| %>
    <div class="panel panel-info">
      <div class="panel-heading"><%= l(key.to_date, :format => '%A, %e %b') %> (<%= t('stat.pair', :count => value.count) %>)
        <% if key.to_date == Date.today %>
            <span class="label label-warning">Сегодня</span>
        <% end %>
      </div>
      <table class="table">
        <tbody>
          <% value.each do |entity| %>
            <tr>
              <td width="10%"><%= entity.start.strftime('%k:%M') %> - <%= entity.end.strftime('%k:%M') %></td>
              <td width="35%"><%= entity.subject.name %> <% if entity.entity_type %>(<abbr title="<%= entity.entity_type.name %>"><%= entity.entity_type.shot_name %></abbr>)<% end %></td>
              <td width="10%"><% if entity.auditorium %><%= entity.auditorium.name %><% end %></td>
              <td width="35%"><%= link_to entity.group.name, { :controller => 'vk/groups', :action => 'schedule', :id => entity.group.id } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>

<hr>
<div class="panel panel-primary">
  <div class="panel-heading">Статистика</div>
  <div class="panel-body">
  	<p>Расписание сгенерировано на основе студенческого расписания!</p>
    <p>Расписание синхронизировано <%= time_ago_in_words(@teacher.updated_at) if @teacher.updated_at? %> назад.</p>
  </div>
</div>