<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Расписание', {:controller => 'groups', :action => 'index'}, :class => 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Список групп', {:controller => 'groups', :action => 'index'} %></li>
        <li><%= link_to 'Список преподавателей', {:controller => 'teachers', :action => 'index'} %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://vk.com/app3893502">Приложение Вконтакте</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<div class="container">
  <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
</div>
<hr>
<footer>
  <p class="text-center">Created by <a href="mailto:forne@cravs.com">Forne</a>. Parsed from
    <a href="http://raspisanie.bf.pstu.ru/">bf.pstu.ru</a>.</p>
</footer>
</body>
<%= javascript_include_tag 'application' %>
</html>
